* {
    border: 0px;
    margin: 0px;
}

input{
    border: 1px gray solid;
    border-radius: 5px;
}

input[type='text']{
    height: 25px;
    width: 780px;
    margin-left: 15px;
    font-size: 21px;
}

input[type='checkbox']{
    margin-left: 10px;
}

input[type='file']{
    display: none;
}

select{
    margin-left: 15px;
    border-radius: 5px;
    height: 25px;
    font-size: 18px;
}

body{
    background-color: rgb(220, 234, 247);
}

main{
    display: flex;
    justify-content: center;
}

textarea{
    margin-left: 15px;
    border: 1px gray solid;
    border-radius: 5px;
    font-size: 21px;
}

button{
    height: 25px;
    border-radius: 5px;
    border: 1px black solid;
    background-color: rgb(71, 105, 216);
    font-weight: bold;
    color: white;
    cursor: pointer;
}

#tmp{
    display: flex;
}

#shell{
    margin-top: 20px;
    width: 1200px;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
}
#base-info{
    display: flex;
    flex-direction: column;
}

#base-info >div{
    margin-top: 15px;
}

.upload-shell{
    border: 1px gray solid;
    text-align: center;
    border-radius: 5px;
    margin-left: 15px;
    overflow: hidden;
    position: relative;
    height: 148px;
}

#up-dv{
    display:flex;
    position: relative;
}

#describe{
    width: 780px;
    height: 140px;
}

#add-spec{
    margin-left: 15px;
    margin-right: 15px;
}

#tag{
    margin-left: 20px;
}

#tag >div{
    margin-bottom: 10px;
}

#tag >div>input{
    height: 25px;
}

.remove{
    cursor: pointer;
    margin-left: -18px;
}

#set-condition{
    margin-left: 80px;
}

#set-condition >input{
    width: 220px;
    height: 25px;
    margin-right: 10px;
}
#set-condition >input[type='text']{
    width: 120px;
    margin-left: 0px;
    font-size: 15px;
}

#form-footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#form-submit{
    width: 90px;
    height: 50px;
    font-size: 30px;
    background-color: rgb(71, 105, 216);
    color: white;
    cursor: pointer;
    margin-left: 20px;
}

.lds-dual-ring {
    display: none;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 44px;
    height: 44px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: rgb(0, 0, 0) transparent rgb(0, 0, 0) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
.message{
    color: red;
    margin-right: 15px;
}

.close{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    right: 0px;
    top: 0px;
    display: none;
    font-weight: 1000;
    cursor: pointer;
}

#condition-number{
    margin-right: 20px;
}

#spec-edit {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #spec-edit td, #spec-edit th {
    border: 1px solid #ddd;
    padding: 8px;
    width: 300px;
  }
  
  #spec-edit tr:nth-child(even){background-color: #f2f2f2;}
  
  #spec-edit tr:hover {background-color: #ddd;}
  
  #spec-edit th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(71, 105, 216);
    color: white;
  }