<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>BuyTogether</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="{{url_for('static',filename='css/board.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/header.css')}}">
</head>

<body>
    <header>
        <div id="left-header">
            <div id='home'><a href="/">S&S</a></div>
        </div>
        <div id="mid-header">
            <form id="search">
                <input type="text" placeholder="我想找團購" id="search-item">
                <input type="image" name='submit' src="{{url_for('static',filename='img/icon_search.png')}}"
                    id='search-icon'>
            </form>
        </div>
        <div id="right-header">
            <a class="after-login">徵團留言區</a><a id='sign-up' href="/sign_up" class="before-login">註冊</a>|
            <a id='sign-in' href="/sign_in" class="before-login">登入</a>
            <span class="after-login"><a id='toggle-control'>個人帳戶</a>
                <div id='menu'>
                    <table id='menu-table'>
                        <tr>
                            <td><a href="/profile">個人資訊</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">團購紀錄</a></td>
                        </tr>
                        <tr>
                            <td><a href="/purchase_set">我要開團</a></td>
                        </tr>
                        <tr>
                            <td><a href="/logout">登出</a></td>
                        </tr>
                    </table>
                </div>
            </span>
        </div>
    </header>
    <main>
        <div class="message-input">
            <div class="message-header-input">
                <img id='u-img'>
            </div>
            <div id=ipt>
                <textarea id='message-input-title' placeholder="標題"></textarea>
                <textarea id='message-input-main' placeholder="內文"></textarea>
                <div id='ft'>
                    <div id="preview"></div>
                    <label for="img">
                        <img id='upload_icon' src="{{url_for('static',filename='img/message_upload.png')}}">
                        <!-- <input id='img' name="img" type="file" style="display: none;"> -->
                    </label>
                    <button id='post-message'>發文</button>
                </div>
            </div>
        </div>
        <div id="show-message">
            <!-- <div class="messages">
                <div class="message-header">
                    <div class="user">
                        <img class="message-user-icon" src="{{url_for('static',filename='img/animal_inu.png')}}">
                        <a class='name'>Test</a>
                        <div class='more'>...<div class='menu-none'>刪除</div>
                        </div>
                    </div>
                    <div class="message-title">
                        <div class="title">Saydow臺灣製男女運動系列衣褲-直寄</div>
                        <div class="time">2021-06-15 17:54:16</div>
                    </div>
                </div>
                <div class="message-image">
                    <img src="{{url_for('static',filename='img/food1.png')}}">
                </div>
                <div class="message">
                    之前有主購開團~時間錯過沒跟上
                    炎熱夏天需要乾爽速乾的衣褲
                    拜託大家一起幫忙湊量
                    謝謝!!
                </div>
            </div> -->
        </div>
    </main>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="{{url_for('static',filename='js/board.js')}}"></script>
</body>

</html>