{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
<link rel="stylesheet" href="{{url_for('static',filename='node_modules/magnific-popup/dist/magnific-popup.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/board.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/header.css')}}">
{% endblock %}
{% block main%}
<div class="message-input">
    <div class="message-header-input">
        <img id='u-img'>
    </div>
    <div id=ipt>
        <textarea id='message-input-title' placeholder="標題"></textarea>
        <textarea id='message-input-main' placeholder="內文"></textarea>
        <div id='ft'>
            <div id="preview"></div>
            <label for="img">
                <img id='upload_icon' src="{{url_for('static',filename='img/message_upload.png')}}">
                <!-- <input id='img' name="img" type="file" style="display: none;"> -->
            </label>
            <button id='post-message'>發文</button>
        </div>
    </div>
</div>
<div id="show-message">
    <!-- <div class="messages">
        <div class="message-header">
            <div class="user">
                <img class="message-user-icon" src="{{url_for('static',filename='img/animal_inu.png')}}">
                <a class='name'>Test</a>
                <div class='more'>...<div class='menu-none'>刪除</div>
                </div>
            </div>
            <div class="message-title">
                <div class="title">Saydow臺灣製男女運動系列衣褲-直寄</div>
                <div class="time">2021-06-15 17:54:16</div>
            </div>
        </div>
        <div class="message-image">
            <img src="{{url_for('static',filename='img/food1.png')}}">
        </div>
        <div class="message">
            之前有主購開團~時間錯過沒跟上
            炎熱夏天需要乾爽速乾的衣褲
            拜託大家一起幫忙湊量
            謝謝!!
        </div>
    </div> -->
</div>
{% endblock %}
{% block script %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
<script src="{{url_for('static',filename='node_modules/jquery/dist/jquery.min.js')}}"></script>
<script src="{{url_for('static',filename='node_modules/magnific-popup/dist/jquery.magnific-popup.js')}}"></script>
<script src="{{url_for('static',filename='js/board.js')}}"></script>
{% endblock %}