{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{url_for('static',filename='css/booking.css')}}">
{% endblock %}
{% block main%}
<!-- <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#follow-content">开始演示模态框</button> -->
<!-- 模态框（Modal） -->
<div class="modal fade" id="follow-content" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="modal-content">
            <div class="modal-header" id="follow-header">
                <h4 class="modal-title" id="myModalLabel">訂單資訊</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div id="product-detail">

                </div>
                <div class="pg">
                    <div class="row">
                        <div class="col">
                            <ul id="progress-bar" class="progressbar">
                                <li class="active">徵團中</li>
                                <li>已成團</li>
                                <li>主購已下單</li>
                                <li>店家已出貨</li>
                                <li>主購已取貨</li>
                                <li>商品已寄出</li>
                                <li>團購結束</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="order-content">
                    <div id="order-number"><div>訂單編號</div>：<a></a></div>
                    <div id="order-date"><div>訂購日期</div>：<a></a></div>
                    <div id="order-buyer-name"><div>訂購人名稱</div>：<a></a></div>
                    <div id="order-buyer-phone"><div>訂購人電話</div>：<a></a></div>
                    <div id="order-buyer-mail"><div>訂購人信箱</div>：<a></a></div>
                    <div id="order-buyer-ship"><div>寄送方式</div>：<a></a></div>
                    <div id="order-buyer-locaiton"><div>寄送地址</div>：<a></a></div>
                    <div id="order-buyer-message"><div>留言</div>：<a></a></div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div id="group-follow">
    <div id="group-title">訂單紀錄</div>
    <hr>

</div>

{% endblock %}
{% block script %}
<script src="{{url_for('static',filename='js/booking.js')}}"></script>
{% endblock %}