{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
{% endblock %}
{% block main%}
<table id='class'>
    <tr id='cls-tb'>
        <td id='outfit'>服裝/鞋包</td>
        <td id='makeup'>美妝/保養</td>
        <td id='food'>美食/保健</td>
        <td id='3c'>家電/3C</td>
        <td id='travel'>旅遊/票券</td>
        <td id='other'>其他</td>
    </tr>
</table>
<figure id='main-pic'>
    <img id='pic'>
</figure>
<div id='content'>
    
</div>
{% endblock %}
{% block script %}
<script src="{{url_for('static',filename='js/home.js')}}"></script>
{% endblock %}