<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>BuyTogether</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="{{url_for('static',filename='css/merchandise.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/header.css')}}">
</head>

<body>
    <header>
        <div id="left-header">
            <div id='home'><a href="/">S&S</a></div>
        </div>
        <div id="mid-header">
            <form id="search">
                <input type="text" placeholder="我想找團購" id="search-item">
                <input type="image" name='submit' src="{{url_for('static',filename='img/icon_search.png')}}"
                    id='search-icon'>
            </form>
        </div>
        <div id="right-header">
            <a id='sign-up' href="/sign_up">註冊</a>|<a id='sign-in' href="/sign_in">登入</a>
        </div>
    </header>
    <main>
        <div id='shell'>
            <div id='merchandise-info'>
                <div id="merchandise-image"></div>
            </div>
        </div>
    </main>
    <script src="{{url_for('static',filename='js/home.js')}}"></script>
</body>

</html>