{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{url_for('static',filename='css/product.css')}}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
<link rel="stylesheet" href="{{url_for('static',filename='node_modules/magnific-popup/dist/magnific-popup.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='node_modules/Number-Input-Spinner-jQuery-Nice-Number/dist/jquery.nice-number.css')}}">
{% endblock %}
{% block main%}
<div id='product'>
    <div id='product-image'>
        <div id="primary-slider" class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    <!-- <li class="splide__slide"><img src="{{url_for('static',filename='img/fake/O1CN01GKre7M1jNzYQem8ya_!!340024537.jpg')}}">
                    </li>
                    <li class="splide__slide"><img src="{{url_for('static',filename='img/fake/soap.jpg')}}">
                    </li>
                    <li class="splide__slide"><img src="{{url_for('static',filename='img/1543540417194758586.jpg')}}"></li> -->
                </ul>
            </div>

        </div>
        <div id="secondary-slider" class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    <!-- <li class="splide__slide">
                        <img
                            src="{{url_for('static',filename='img/fake/O1CN01GKre7M1jNzYQem8ya_!!340024537.jpg')}}">
                    </li>
                    <li class="splide__slide">
                        <img src="{{url_for('static',filename='img/fake/soap.jpg')}}">
                    </li>
                    <li class="splide__slide">
                        <img src="{{url_for('static',filename='img/1543540417194758586.jpg')}}">
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
    <div id="product-detail">
        <div id="product-title"></div>
        <div id="product-owner">
            <img id="owner-image" src="{{url_for('static',filename='img/animal_inu.png')}}">
            <div id="owner-name"></div>
            <div id="date"></div>
        </div>
        <div id="product-src"><a>來源</a></div>
        <div id="condition">成團條件<a></a></div>
        <div id="shipping">寄送方式<a></a></div>
        <div id="spec">商品選項</div>
        <div class="quantity">數量<input type="number" min="1" value="1" />
        </div>
        <div id="cart">🛒加入購物車</div>
    </div>
</div>
<div id='product-describe'>
    <div id='desc'>團購敘述</div>
    <div id="desc-content"></div>
</div>
</div>
{% endblock %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
<script src="{{url_for('static',filename='node_modules/jquery/dist/jquery.min.js')}}"></script>
<script src="{{url_for('static',filename='node_modules/Number-Input-Spinner-jQuery-Nice-Number/dist/jquery.nice-number.js')}}"></script>
<script src="{{url_for('static',filename='node_modules/magnific-popup/dist/jquery.magnific-popup.js')}}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="{{url_for('static',filename='js/product.js')}}"></script>
{% endblock %}