{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{url_for('static',filename='css/profile.css')}}">
{% endblock %}
{% block main%}
<div id=left-content>
    <div id="change-image">
        <label for="img">
            <a style="cursor: pointer;">✎更換大頭貼</a>
            <input type="file" name="img" id="img" style="display: none;" accept="image/*">
        </label>
    </div>
    <div>
        <img id='u-img' src="" width='150px' height="150px">
    </div>
    <div id='u-id'></div>
</div>
<div id='content'>
    我的檔案
    <hr>
    <div class='content-inside'>使用者帳號<a id=u-mail></a><a id='auth'>(已通過驗證)</a></div>
    <div class='content-inside'>姓名<input id=u-name value=""><button id='ch-name'>修改</button></div>
    <div class='content-inside'>註冊日期<a id=u-date></a></div>
    <div class='content-inside'>開團次數<a id=u-open>0</a></div>
    <div class='content-inside'>跟團次數<a id=u-follow>0</a></div>
</div>
{% endblock %}
{% block script %}
<script src="{{url_for('static',filename='js/profile.js')}}"></script>
{% endblock %}